{% include "inc/head.html" %}
{% for user in usuarios %}
<h1>Usuario :{{ user.nome }}</h1>
{% endfor %}
      

        <h2>Documentos</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Proprietário</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documentos %}
                    <tr>
                        <td>{{ doc.nome }}</td>
                        <td>{{ doc.propretario }}</td>
                        <td><a href="{{ doc.caminho }}">👁</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      
   
</html>