{# templates/usuarios.html #}
{% extends "inc/base.html" %}


{% block titulo %}Usuários{% endblock %}

{% block conteudo %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <p>Listagem de usuários</p>

        <table class="table table-hover">
        <thead>
        <tr>
            <th >Usuário</th>
            <th>Admin</th>
            <th >Ativo</th>
            <th >Apagar</th>
            <th >Atualizar</th>
        </tr>
        </thead>
        <tbody>
        {% for usr in usuarios %}
        <!-- Linha para repetir -->
        <tr>
            <td >{{ usr.username }}</a></td>
            <td>{{ usr.admin }}</td>
            <td>{{ usr.ativo }}</td>
            <td><a href="usuario_apagar.php{{usr.id}}" class="btn btn-outline-danger">🗑️ Apagar</a></td>
            <td><a href="usuario_ver.php{{usr.id}}" class="btn btn-outline-primary"> ✏️ Atualizar</a></td>
        </tr>
        <!-- / Linha para repetir -->
        {% else %}
        <tr>
            <td colspan="2">Nenhum usuário</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="novo_usuario.php" class="btn btn-outline-info"> ➕ Adicionar usuário</a>

{% endblock %}