
{% include "inc/head.html" %}

<!DOCTYPE html>
<html>
<head>
	<title>Tabela de Usuários e Documentos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="usuarios.css">

  
</head>
<body>
    {% include "inc/head.html" %}

{% for user in usuarios %}
<h1>Usuario :{{ user.nome }}</h1>
{% endfor %}
      

        <h2>Documentos</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Proprietário</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documentos %}
                    <tr>
                        <td>{{ doc.nome }}</td>
                        <td>{{ doc.propretario }}</td>
                        <td><a href="{{ doc.caminho }}">👁</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

      
   

        <a href="upload.php">Adicionar arquivo</a>
      {% include "inc/foot.html" %}
    </body>

</html>