<!-- Navbar -->
{% block head %}


<!DOCTYPE html>
<html>
<head>
	<title>Tabela de Usuários e Documentos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="usuarios.css">

  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_E9yWbSQurl6FGQj7JPJBbfA1n_WjbL8_Gg&usqp=CAU"
              height="50"
              alt="MDB Logo"
              loading="lazy"
              style="margin-top: -1px;"
            />
          </a>
      
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              
              </li>
            </ul>
            <!-- Left links -->
      
            <div class="d-flex align-items-center">
                <a
                class="btn btn-dark px-3"
                href="usuarios.php"
                role="button"
                >Meus Arquivos<i class="fab fa-github"></i
              ></a>
             
              <a
              class="btn btn-dark px-3"
              href="arquivoscompartilhados.php"
              role="button"
              >arquivos compartilhados<i class="fab fa-github"></i
            ></a>

              <a
              class="btn btn-dark px-3"
              href="upload.php"
              role="button"
              >Upload de arquivo<i class="fab fa-github"></i
            ></a>
            </div>
          </div>

          <div class="d-flex align-items-center">
              
            {% endblock %}
            
